@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    height: 385px;
    background: #1B244A;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h1 {
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px;
}

.box div {
    width: 155px;
    height: 120px;
    background: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

#home-score,
#guest-score {
    color: #F94F6D;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
}

.nums {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nums li {
    border: 2px solid #9AABD8;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cursed Timer ULiL;
    color: #9AABD8;
}

#h-2,
#g-2 {
    margin-inline: 8px;
}

@media(max-width: 400px) {
    .container {
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .box {
        width: 200px;
        padding: 1rem;
        display: grid;
        grid-template-areas:
            "T  T  T"
            "B  B  L"
        ;
    }

    .box h1 {
        grid-area: T;
        margin-bottom: 15px;
    }

    .box div {
        grid-area: B;
        width: 125px;
        margin-block: 0;
    }

    .nums {
        flex-direction: column;
    }

    .nums li {
        padding: 7px;
    }

    #h-2,
    #g-2 {
        margin-block: 6px;
    }
}